b {
  font-weight: 600;
  color: #282c34;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  flex-direction: column;
  cursor: default;
  align-items: center;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  font-size: 32px;
  color: #00BCD4;
}

.details {
  font-size: 15px;
  font-weight: 100;
  color: #282c34;
}

.content {
  font-size: 15px;
  font-weight: 300;
  color: #282c34;
  margin-top: 16px;
  width: 100%;
  max-width: 640px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddfe2;
  padding-bottom: 24px;
  opacity: 0.9;

  /* background-image: url('/figs/pattern.png');
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: hard-light;
  -webkit-animation: Rotation 50s infinite linear; */
}

.profilepic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  /*border: 5px solid #80D8FF;*/
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 640px;
  flex-wrap: wrap-reverse;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 8px;
  margin-top: 0;
}

.contact-details {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 28px;
  margin: 0;
  margin-bottom: 4px;
  margin-top: 4px;
  color: #00BCD4;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
}

h3 {
  font-family: 'Nunito', sans-serif;
  color: #afafaf;
  font-size: 16px;
  font-weight: 600;
}

.footnote{
  border-top: 1px solid #e1e1e1;
  font-weight: 100;
  margin-top: 24px;
  padding-top: 4px;
  color: #c1c1c1;
}

.updated {
  font-size: 12px;
  color: #a1a1a1;
  margin-top: 4px;
  font-style: italic;
}


a:link {
  color: #dc61f1;
}

a:visited {
  color: #dc61f1;
}

a:hover {
  color: #4DD0E1;
}

a:active {
  color: #dc61f1;
}

.sn-links-container {
  display: flex;
  align-items: center;
  font-weight: 100;
  margin-top: 12px;
}

.sn-link .fa {
  color: #282c34;
  margin: 8px;
}

.pub {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
}

.pub .fa {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 2px;
}

p {
  margin: 0;
}

.pic-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.portfolio-pics {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.portfolio-pics img {
  height: 80px;
  margin-right: 16px;
}

.materials {
  color: #f3adff;
  font-size: 14px;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.materials .mat {
}

.mat:hover {
  color: #00BCD4;
  cursor: pointer;
}

.bibbase_group {
  background-color: transparent;
  padding: 5px 20px 5px;
}

.pub img {
  min-width:  54px;
  min-height: 54px;
  max-width:  54px;
  max-height: 54px;
  margin: 4px;
  border-radius: 50%;
}

.pub p {
  font-size: 14px;
  padding: 4px;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-webkit-keyframes Rotation {
		from {
				background-position: 500% 500%;
		}
		to {
				background-position: 0% 0%;
		}
}
