body {
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  flex-direction: column;
  cursor: default;
  align-items: center;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  font-size: 32px;
}

.details {
  font-size: 15px;
  font-weight: 300;
  color: #37474F;
}

.content {
  font-size: 15px;
  font-weight: 300;
  color: #424242;
  margin-top: 16px;
  width: 100%;
  max-width: 640px;
}

.profilepic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  align-self: flex-end;
  /*border: 5px solid #80D8FF;*/
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 640px;
  flex-wrap: wrap-reverse;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 8px;
}

.contact-details {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 28px;
  margin: 0;
  margin-bottom: 4px;
  margin-top: 4px;
  color: #00BCD4;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
}

.media {
  font-weight: 100;
  margin-top: 12px;
  display: flex;
}

.footnote{
  border-top: 1px solid #e1e1e1;
  font-weight: 100;
  margin-top: 24px;
  padding-top: 4px;
  color: #c1c1c1;
}

.updated {
  font-size: 12px;
  color: #a1a1a1;
  margin-top: 4px;
  font-style: italic;
}


a:link {
    color: #03A9F4;
}

a:visited {
    color: #03A9F4;
}

a:hover {
    color: #4DD0E1;
}

a:active {
    color: #03A9F4;
}

.badge {
  display: flex;
  align-items: center;
}

.badge .fa {
  color: #424242;
  margin: 8px;
}

.pub {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
}

.pub .fa {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 2px;
}

.pub p {
  margin: 0;
}
